<!DOCTYPE html>
<html>
<head>
  <title>Novo Contato</title>
</head>
<body>

  <form method="post"
        action="/salva">

    <label>
      Nome:
      <input type='text' name="nome"
             size="50" maxlength="50"
             autofocus />
    </label>

    <label>
      Telefone:
      <input type='tel' name='telefone'
             size='10' maxlength="10">
    </label>

    <input type="submit" value="Salva">

  </form>


</body>
</html>
